.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(30px + 2vmin);
  color: white;
  padding: 150px;
}

.App-link {
  color: #61dafb;
  padding: 50px;
}

button {
  border: 1px solid #61dafb;
  background-color: #61dafb;
  padding: 16px;
  width: 235px;
  font-size: 20px;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
}

button:hover {
  cursor: pointer;
}

button:focus {
  outline:0;
}

.inputBox {
  padding: 16px;
  flex-shrink: 1;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: .1px;
  margin-bottom:30px;
  width: 200px;
  text-align: center;
}